<!DOCTYPE html>
<link rel="stylesheet" href="css/styles.css"/>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box" id="heading">
        <h1><%=todaysDate%></h1>
    </div>

    <div class="box" id="todolist-container">
        <% for(let item of newTodo){%>
        <div class="item">
            <input type="checkbox"/>
            <p><%=item%></p>
        </div>
            <%}%>
        
            <form class="item" action="/" method="POST">
                <input type="text" placeholder="Enter a new task" id="fname" name="fname"/>
                <button type="submit">+</button>
            </form>

            <form id="resetButton" action="/r" method="GET">
                <button type="submit" id="resetButton">Reset</button>
            </form>
        </div>

<script src="scripts/script.js"></script>
</body>
</html>